In [1]:
#import libraries
import pandas as pd
from pathlib import Path

In [45]:
#set path for file
file_path='../Data/budget_data.csv'

In [ ]:
#read in the CVS as a DataFrame
budget_data = Path = pd.read_csv(file_path)
budget_data.head()

In [6]:
#total number of months included in the dataset
budget_data["Profit/Losses"].count()

86

In [8]:
Total_Months=budget_data["Profit/Losses"].count()
Total_Months

86

In [9]:
#net total amount of Profit/Losses over the entire period
budget_data["Profit/Losses"].sum()

38382578

In [11]:
NetPnL = budget_data["Profit/Losses"].sum()

In [13]:
#average amount of the changes in Profit/Losses over the entire period
budget_data["Profit/Losses"].mean()

446309.0465116279

In [71]:
budget_data["Profit/Losses"].sum()
budget_data['pnl_changes']=budget_data["Profit/Losses"]-budget_data["Profit/Losses"].shift()
budget_data

        Date  Profit/Losses  pnl_changes
0   Jan-2010         867884          NaN
1   Feb-2010         984655     116771.0
2   Mar-2010         322013    -662642.0
3   Apr-2010         -69417    -391430.0
4   May-2010         310503     379920.0
..       ...            ...          ...
81  Oct-2016         102685    -665765.0
82  Nov-2016         795914     693229.0
83  Dec-2016          60988    -734926.0
84  Jan-2017         138230      77242.0
85  Feb-2017         671099     532869.0

[86 rows x 3 columns]

In [17]:
Mean_PL = budget_data["pnl_changes"].mean()
Mean_PL

-2315.1176470588234

In [18]:
#greatest increase in Profits
budget_data["pnl_changes"].max()

1926159.0

In [67]:
max_difference=budget_data["pnl_changes"].max()
max_difference

1926159.0

In [19]:
budget_data.loc[budget_data["pnl_changes"] == budget_data["pnl_changes"].max(),'Date']

25    Feb-2012
Name: Date, dtype: object

In [74]:
#greatest decrease in losses over the entire period - date and amount
budget_data["pnl_changes"].min()

-2196167.0

In [21]:
min_difference=budget_data["pnl_changes"].min()
min_difference

-2196167.0

In [23]:
budget_data.loc[budget_data["pnl_changes"] == budget_data["pnl_changes"].min(), 'Date']

44    Sep-2013
Name: Date, dtype: object

In [75]:
final_string = f"""
Financial Analysis
----------------------------
Total Months: {Total_Months}
Total: ${NetPnL}
Average Change: ${Mean_PL}
Greatest Increase in Profits: Feb-2012 $({max_difference})
Greatest Decrease in Profits: Sep-2013 $({min_difference})
"""
print(final_string)

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 $(1926159.0)
Greatest Decrease in Profits: Sep-2013 $(-2196167.0)

In [70]:
#open the output path as a file object
with open("results.txt", "w") as txt_file:
    txt_file.write(final_string)
    
txt_file.close()